@model IEnumerable<EParking.Models.Parking>

@{
    ViewData["Title"] = "Parkinzi";
}

<h1>Parkinzi</h1>

<p>
    <a asp-action="Create" style="color: darkslategray">Dodaj novi parking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PocetakRadnogVremena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KrajRadnogVremena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sifra)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PocetakRadnogVremena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KrajRadnogVremena)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Sifra)
                </td>
                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Izmijeni</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Izbriši</a>
                </td>
            </tr>
        }
    </tbody>
</table>
