@model IEnumerable<EParking.Models.Parking>

    @{
        ViewData["Title"] = "OdaberiParking";
        var poruka = ViewBag.poruka;
        var kategorija = ViewBag.kategorija;
    }

    <h1>Izaberite vaš parking</h1>
    <p>@poruka</p>
    <table style="margin-top:50px" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Naziv)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Naziv)
                    </td>
                    <td>
                        <a asp-action="OdaberiMjesto" asp-route-id="@item.ID" asp-route-kategorija="@kategorija">Odaberi</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
